# An√°lisis de datos para un caudal de 100%

In [9]:
import pandas as pd 
import matplotlib.pyplot as plt

# Read the data 

data100 = pd.read_excel('Datos Turbina Francis.xlsx', sheet_name='100')
data75 = pd.read_excel("Datos Turbina Francis.xlsx", sheet_name= '75')
data50 = pd.read_excel("Datos Turbina Francis.xlsx", sheet_name= '50')
id = pd.Series(range(1,4), name = 'id')
data100["id"] = id
data100.set_index('id', inplace=True)

data75["id"] = id
data75.set_index('id', inplace=True)

data50["id"] = id
data50.set_index('id', inplace=True)

data100

    Apertura  v (rpm)  F (N)
id
1        100     1009    5.2
2         50     1084    6.0
3         25     1155    6.4

In [12]:
A_out = data100['Apertura']
Rev = data100['v (rpm)']
Force100  = data100['F (N)'] 

Force100

id
1    5.2
2    6.0
3    6.4
Name: F (N), dtype: float64